body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}