{% load static %}
{% load dict_utils %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/chamada.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'global/images/chamada.ico' %}">
    <title>Chamada</title>
</head>
<body>
    <header>
        <h1>Fazer Chamada</h1>
        <nav>
            <a href="{% url 'turma_detail' team.id subject.id %}">Voltar</a>
        </nav>
    </header>
    <div class="container">
        <h2>Chamada - {{ team.name }} / {{ subject.name }} ({% now "d/m/Y" %})</h2>

        <form method="post">
            {% csrf_token %}
            {% for message in messages %}
                {% if 'error' in message.tags %}
                    <div class="error-message">{{ message }}</div>
                {% else %}
                    <div class="info-message">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <table>
            <tr>
                <th>Aluno</th>
                <th>Presente?</th>
            </tr>
            {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.first_name }} {{ aluno.last_name }}</td>
                <td>
                <input type="checkbox" name="presente_{{ aluno.id }}"
                        {% if registros|get_item:aluno.id %}checked{% endif %}>
                </td>
            </tr>
            {% endfor %}
            </table>
            <button type="submit">Salvar Chamada</button>
        </form>
        </div>
</body>
</html>
