{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'global/css/home.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'global/images/icone.ico' %}">
  <title>Sistema de Notas</title>
</head>
<body>
  <header>
    <h1>Sistema de Notas Escolares</h1>
    <div style="display:flex;gap:8px;align-items:center">
      <button class="nav-toggle" aria-expanded="false" aria-label="Abrir menu">☰</button>
    </div>
    <nav class="nav-menu">
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>
  </header>

  <main class="container">
    <section class="intro">
      <h2>Bem-vindo ao sistema 👋</h2>
      <p>Gerencie notas, acompanhe desempenho acadêmico e tenha controle total das informações escolares.</p>
    </section>

    {% if user.role == 'professor' %}
      <section class="cards">
        <div class="card">
         <a href="{% url 'turmas' %}" class="link">
            <h3>👩‍🏫 Minhas Turmas</h3>
            <p>Gerencie suas turmas, visualize alunos e registre avaliações.</p>
          </a>
        </div>

        <div class="card">
          <a href="{% url 'create_notification' %}" class="link">
            <h3>⚠️ Sala de avisos</h3>
            <p>Fique atento às últimas notificações e comunicados importantes.</p>
          </a>
        </div>
      </section>

    {% elif user.role == 'aluno' %}
      <section class="cards">
        <div class="card">
          <a href="{% url 'my_grades' user.id %}" class="link">
            <h3>📝 Minhas Notas</h3>
            <p>Acompanhe suas notas, médias e situação final.</p>
          </a>
        </div>

        <div class="card">
          <a href="{% url 'my_fouls' user.id %}" class="link">
            <h3> ⛔ Minhas Faltas</h3>
            <p>Tenha controle sobre suas faltas e frequência.</p>
          </a>
        </div>

        <div class="card notification">
          {% if unread_notifications_count > 0 %}
            <span class="notification-count">
              {{ unread_notifications_count }}
            </span>
          {% endif %}
          <a href="{% url 'list_notifications' %}" class="link">
            <h3>⚠️ Sala de avisos</h3>
            <p>Fique atento às últimas notificações e comunicados importantes.</p>
          </a>
          <!-- <a href="{% url 'list_notifications' %}" class="btn">Acessar</a> -->
        </div>
      </section>
    {% endif %}
  </main>

  <footer>
    &copy; 2025 • Sistema de Notas | Django + Python
  </footer>
  <script src="{% static 'global/js/home.js' %}" defer></script>
  <script src="{% static 'global/js/theme.js' %}" defer></script>
</body>
</html>
