{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'global/css/turma_detail.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'global/images/icone.ico' %}">
  <title>Alunos da Turma</title>
</head>
<body>
  <header>
    <h1>{{ turma.name }} - Detalhes ({{ subject.name }})</h1>
    <nav>
      <a href="/turmas/">Voltar</a>
      <a href="{% url 'fazer_chamada' team_id=turma.id subject_id=subject.id %}">Fazer chamada</a>
    </nav>
  </header>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nome</th>
          <th>Matrícula</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>

      {% for aluno in page_obj %}
        <tr>
          <td>
            {% if aluno.image_profile %}
              <img src="{{ aluno.image_profile.url }}" alt="Foto de {{ aluno.first_name }} {{ aluno.last_name }}" class="foto-user">
            {% else %}
              <img src="{% static 'global/images/image_default.png' %}" alt="Sem foto" class="foto-user">
            {% endif %}
          </td>
          <td>{{ aluno.first_name }} {{ aluno.last_name }}</td>
          <td>{{ aluno.registration_number }}</td>
          <td>
            {% if bimonthlys < 4 %}
              <span class="badge analise">Em análise</span>
            {% else %}
                  {% if aluno.is_under_review %}
                      <span class="badge analise">Em análise</span>
                  {% else %}
                      {% if aluno.status == "aprovado" %}
                          <span class="badge">Aprovado</span>
                      {% else %}
                          <span class="badge reprovado">Reprovado</span>
                      {% endif %}
                  {% endif %}
            {% endif %}
          </td>
          <td class="acoes">
            <a href="{% url 'add_grade' team_id=turma.id subject_id=subject.id student_id=aluno.id %}" class="btn btn-lancar">
              Lançar Nota
            </a>
            <a href="{% url 'update_grade' team_id=turma.id subject_id=subject.id student_id=aluno.id %}" class="btn btn-editar">
              Editar Nota
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  <nav class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&q={{ request.GET.q.strip }}&type={{ request.GET.type|default:'usuarios' }}">&laquo; Primeira</a>
            <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q.strip }}&type={{ request.GET.type|default:'usuarios' }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q.strip }}&type={{ request.GET.type|default:'usuarios' }}">Próxima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q.strip }}&type={{ request.GET.type|default:'usuarios' }}" class="last">&raquo; Última</a>
        {% endif %}
  </span>
    </nav>

  <footer>
    Sistema de Notas © 2025
  </footer>
</body>
</html>