{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'global/css/turmas.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'global/images/icone.ico' %}">
  <title>Turmas - Sistema de Notas</title>
</head>
<body>
  <header>
    <h1>Minhas Turmas</h1>
    <nav>
      <a href="{% url 'home' %}">Voltar</a>
    </nav>
  </header>

  <main>
    <div class="container">
      {% for turma in turmas %}
      <div class="card">
        <a href="{% url 'escolher_materia' team_id=turma.id %}">
          <h2>{{ turma.name }}</h2>
        </a>
      </div>
    {% endfor %}

    </div>
  </main>
</body>
</html>
